@font-face{
    font-family: Abel;
    src: url('../Fonts/Abel/Abel-Regular.ttf');
}

@font-face{
    font-family: Anton;
    src: url('../Fonts/Anton/Anton-Regular.ttf');
}

@font-face{
    font-family: Josefin;
    src: url('../Fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face{
    font-family: Lexend;
    src: url('../Fonts/Lexend_Deca/static/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: Livvic;
    src: url('../Fonts/Livvic/Livvic-Regular.ttf');
}