@import url('../CSS/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Livvic:'Livvic',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;

}


a{
    text-decoration: none;
    color: var(--text-gray);
}

p{
    font-family: var(--Josefin);
    font-size: 20px;

}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

span{
    font-family: var(--Abel);
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    margin: 0 5vw;
}


.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
    
}




.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color:#a1c4cf;
}


.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
    
}

.collapse{
    height: 31rem !important;
}


/*----------Main Content------------*/
main .site-title{
    background: url('../Assets/Josel_Background4.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);

}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .blog{
    background: url(../Assets/Blog442.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}


section .container .owl-nav{
    position: absolute;
    top:5%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.info{
    display: flex;
    flex-direction: row;
}

.newsletter{
    width: 50%;
}

.newsletter .form-element{
    display: flex;
    flex-direction: column;
    
}

.newsletter .form-element .input-element{
    width: 25rem;
    margin: 1.5rem 0;
    padding: 1rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.newsletter .form-element .form-btn{
    width: 15rem;
    margin: 1.5rem 0;
    background: var(--sky);
    border-radius: 0;
}



/*----x------Main Content------x------*/


footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}


/*----------contact us--------------*/

main .contact-title{
    background: url('../Assets/Josel_Background4.jpg');
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: row;
    
   
    

}

main .contact-title .gradient-overlay{
    display: flex;
    flex-direction: row;
}

main .contact-title .contact-info{
    width: 50%;
    color: var(--white);
    padding: 6rem 6rem;
}

main .contact-title .contact-submit{
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
}

main .contact-title .contact-submit .input-element{
    background: transparent;
    width: 25rem;
    margin: 1.5rem 0;
    color: var(--white);
    font-family: var(--Josefin);
    font-size: 20px;
}

main .contact-title .contact-submit ::placeholder{
    color: var(--white);
}


/*------x----contact us-------x-------*/

/*-----------About Us----------------*/

main .about-title{
    background: url('../Assets/Josel_Background4.jpg');
    background-size: cover;
    height: 90vh;
}

.gradient-overlay{
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    opacity: .5;
}


/*------x----About Us--------x-------*/



@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
        
    }

.nav .nav-items{
    margin-top: 1.5rem;
}

    .nav .toggle-collapse{
        display: initial;
    }

    
}